@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-family: inherit; /* ya definido en base */
  color: var(--color-text);
  background-color: var(--color-background-soft);
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  transition: background-color 0.5s ease, color 0.5s ease;
}

a,
.green {
  text-decoration: none;
  color: var(--color-heading);
  transition: background-color 0.4s ease, color 0.4s ease;
  padding: 3px 6px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-border-hover);
    color: var(--color-heading);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--color-background);
    transition: background-color 0.5s ease;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem 4rem;
  }
}